@font-face {
	font-family: "ScheherazadeNew-Regular";
	src: url(Fuentes/ScheherazadeNew-Regular.ttf);
}

@font-face {
	font-family: "SourceCodePro-Regular";
	src: url(Fuentes/SourceCodePro-Regular.ttf);
}

h1, h2, h3
{
	text-decoration: underline;
	margin: 0;
	padding: 0;
	font-family: "ScheherazadeNew-Regular";
}

.ingredientes{text-align: left;
    color: black;
    font-size: x-large;
    font-style: unset;
    color: rgb(8, 8, 8);
	font-family: "SourceCodePro-Regular";
}

p, ol
{
		text-align: left;
        color: black;
        font-size: 2rem;
        font-style: unset;
        color: rgb(12, 12, 12);
		margin-top: 0px;
		font-family: "SourceCodePro-Regular";

}

p
{
	line-height: 180%;
}

a
{
	color: #000000;
}

a:hover
{
	text-decoration-color: #000000;
}

a img
{
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr
{
	display: none;
}

/** WRAPPER */

#wrapper {
	background: hsl(22, 99%, 49%) url(images/bg01.png) repeat;	
	height: 380vh;
	width: 200vh;
}

.container
{
	width: 1200px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header
{
	position: relative;
	height: 150px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: center;
		width: 100%;
		height: 10vh;
	}
	
	#logo h1
	{
		display: inline-block;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: #FFF;
		height: 10vh;
		width: 15vh;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
		
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		right: 0;
		top: 3em;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 0.80em 1.5em;
		letter-spacing: 0.05em;
		text-decoration: none;
		font-size: 100%;
		font-weight: 800%;
		text-transform: uppercase;
		outline: 0;
		color: #0c0c0c;
		font-size: 150%;
		height: 10vh;
		width: 20vh;

	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		color: rgb(15, 15, 15);
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		position: relative;
		overflow: hidden;
		padding: 6em 0em 5em 0em;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 790px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 345px;
	}
	
	#sidebar .title h2
	{
		font-size: 1.6em;
	}
	
	#sidebar .box1
	{
		margin-bottom: 3em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: auto;
	height: 700px;
	background: url('images/Empanada.jpg') no-repeat top center;
	background-size: 100%;
	height: 100vh;
	width: 200vh;
}

#header-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('images/bg01.png');
	opacity: .1;
}

#header-wrapper2
{
	background: rgb(255, 255, 255);
	box-shadow: inset 0 -10px 10px -10px rgb(248, 248, 248);
}



	ul.style2
	{
		margin: 0%;
		padding: 0%;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #0c0c0c;
		padding: 0.80em 0;
		font-size: 150%;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		background: #0a0a0a;
		padding: 6em 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
		color: #fbf2ed;
	}
	
	#portfolio .title h2
	{
		color: rgb(250, 248, 248);
	}

	#portfolio .byline
	{
		color: #fffbfd;
	}
	
	#column1,
	#column2,
	#column3,
	#column4
	{
		width: 282px;
	}
	
	#column1,
	#column2
	{
		float: left;
		margin-right: 24px;
	}
	
	#column3
	{
		float: left;
	}
	
	#column4
	{
		float: right;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
		text-transform: uppercase;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #171717;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}














